.bodyslist{
    background: white;
    padding: 10px;
    margin: 25%; 
    overflow: visible;
    font-size: calc(10px + 2vmin);
    
   
    
}

.card{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
 